.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article {
    background-color: var(--highlight-light);
}

.b-top {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

article > div {
    padding: 0.5rem;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title > h3 {
    margin: 0!important;
}

.title > div {
    color: var(--secondary-dark);
}

.hero {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--primary-green);
    color: var(--highlight-light) !important;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.hero > img {
    height: 250px;
    width: 250px;
    border-radius: 12px;
}