nav {
    color: var(--highlight-dark);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 16px;
    display: flex;
    align-items: center!important;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    text-align: center;
    padding-inline-start: 0rem;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 1.2rem;
}

nav li {
    display: inline-block;
    margin: 0.5rem;
}

nav ul a {
    color: var(--highlight-dark);
    text-decoration: none;
}

nav ul a:active {
    text-decoration: underline;
}

nav ul a:hover {
    text-decoration-thickness: 0.1rem;
    color: #3a3b3b9e;
}

@media (max-width: 800px) {
    nav ul {
        font-size: 1.2rem;
    }
}

.logo {
    width: 200px;
    display: flex;
}

.burger {
    width: 20px;
}

.m-hide {
    display: none;
}

@media (min-width: 800px) {
    .m-hide {
        display: unset;
    }

    .m-show {
        display: none;
    }
}
