.logo {
    width: 200px;
    display: flex;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.fullbleed {
    box-shadow: 0 0 0 100vmax white;
    clip-path: inset(0 -100vmax);
}

.active{
    background-color: var(--primary-yellow);
    color: var(--highlight-dark)!important;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav ul {
    display: flex;
}

nav ul li {
   list-style: none; 
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: var(--highlight-dark);
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

nav ul li a:not(.active):hover {
    background-color:var(--secondary-dark);
    color: var(--highlight-dark);
}

nav .menu {
    display: none;
    position: absolute;
    top: 1.6rem;
    right: 0rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.6rem;
    cursor: pointer;
}

nav .menu span {
    height: 0.2rem;
    width: 100%;
    background-color: var(--highlight-dark);
    border-radius: 0.2rem;
}


@media (max-width: 800px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
        background-color: var(--primary-green);
        border-radius: 8px;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
        color: var(--highlight-light)!important;
    }
}