.logo-footer {
    width: 75px;
}

@media (max-width: 800px) {
    .logo-footer {
        width: 50px;
    }
}

footer {
    display: flex;
    margin-top: 24px;
    padding: 1.4rem 2rem;
    gap: 2rem 1rem;
    /*border-radius: 20px;*/
    background-color: var(--primary-green);
    color: var(--highlight-light);
}

footer a {
    color: var(--highlight-light);
}

footer div {
    flex: 1;
}

footer img {
    max-width: 50%;
}

footer p {
    margin: 0;
    font-size: 0.8rem;
}

footer h4 {
    margin: 0;
    margin-bottom: 0.4rem;
    font-size: 0.9rem;
}

.nav-links {
    display: flex;
}

@media (max-width: 800px) {
    .nav-links {
        flex-direction: column-reverse;
        gap: 1.5rem;
    }
}