body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  --highlight-light: #EDEFEE;
  --highlight-dark: #333333;
  --secondary-dark: #EE9972;
  --secondary-light: #FBDABB;
}

body {
  font-family: 'Markazi Text', serif;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  scroll-behavior: smooth;
}


.full-bleed {
  box-shadow: 0 0 0 100vmax var(--primary-green);
  clip-path: inset(0 -100vmax);
}

h1, h2, h3 {
  letter-spacing: 2px;
}

h1 {
  font-size: 3rem;
  margin: 0;
  color: var(--primary-yellow);
}

h2 {
  font-size: 2rem;
}

.subtitle {
  font-size: 2rem;
  margin-top: 0; 
}

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: var(--secondary-dark);
  font-weight: bold;
}

a:hover {
  color: var(--secondary-light);
}


header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.cta {
  padding: 0.75rem 1.2rem;
  background-color: var(--primary-yellow);
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.cta:hover {
  background-color: var(--highlight-dark);
  color: white;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

article {
  flex: 1;
}

article img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

article img:hover {
  transform: scale(1.05);
}

article ul {
  list-style: none;
}

@media (max-width: 800px) {
  section {
      flex-direction: column;
  }

  h1 {
      font-size: 2rem;
  }

  h2 {
      font-size: 1.4rem;
  }

  h1, h2, h3 {
      letter-spacing: 1.5px;
  }

  .cta {
      font-size: 1rem;
  }
}