nav {
    background-color: #495E57;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-bottom: 0px;
    border-radius: 16px;
}

nav ul {
    list-style: none;
    text-align: center;
    padding-inline-start: 0rem;
    margin-bottom: 0px;
    font-size: 1.5rem;
}

nav li {
    display: inline-block;
    margin: 0.5rem;
}

nav ul a {
    color: #EDEFEE;
    text-decoration: none;
}

nav ul a:active {
    text-decoration: underline;
}

nav ul a:hover {
    text-decoration-thickness: 0.1rem;
    color: #edefee9e;
}